<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <%- include ('./partials/navbar.ejs') %>

    <div class="container justify-content-center fav-show-page">
      <div class="card m-3">
        <div class="d-flex justify-content-center m-3">
          <img src="<%=fav.trailImage%>" alt="" width="80%">
        </div>
        <div class="m-5">
          <h4>Name: <%=fav.trailName%></h4>
          <h4>Description: <%=fav.description%></h4>
          <h4>Miles: <%=fav.length%></h4>
          <h4>Difficulty:
            <%let star = "⭐"%>
            <%for (let i=0; i< parseInt(fav.difficulty); i++) {%>
              <%star+='⭐'%>
            <%}%>
            <%=star%>

          </h4>
          <h4>Quality:
            <%let starQ = "⭐"%>
            <%for (let j=0; j< parseInt(fav.quality); j++) {%>
              <%starQ+='⭐'%>
            <%}%>
            <%=starQ%></h4>
        </div>
      </div>
      <a href="/favorites/<%=fav._id%>/edit">
        <button class="btn btn-info btn-edit-fav" type="submit" name="button">Edit Fav</button>
      </a>
  </body>
</html>
