<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <%- include ('./partials/head.ejs') %>

</head>

<body>
  <%- include ('./partials/navbar.ejs') %>

  <div class="container justify-content-center show-page">
    <div class="card m-3">
      <div class="d-flex justify-content-center m-3">

        <img src="<%=trail.trailImage%>" width="80%">
      </div>
      <div class="m-5">
        <h4>Name: <%=trail.trailName%></h4>
        <h4>Description: <%=trail.description%></h4>
        <h4>Miles: <%=trail.length%></h4>
        <h4>Difficulty: <%=trail.difficulty%></h4>
        <h4>Quality: <%=trail.quality%></h4>
      </div>
    </div>

    <!-- might need -->
    <% if (trail.favoritedItems.liked === true) { %>
    <h1>✨ already favorited ✨</h1> %>
    <% } else { %>
    <form class="container d-flex" action="/favorites" method="POST">
      <input type="hidden" name="trailImage" value="<%=trail.trailImage%>">
      <input type="hidden" name="trailName" value="<%=trail.trailName%>">
      <input type="hidden" name="mapsLink" value="<%=trail.mapsLink%>">
      <input type="hidden" name="description" value="<%=trail.description%>">
      <input type="hidden" name="length" value="<%=trail.length%>">
      <input type="hidden" name="difficulty" value="<%=trail.difficulty%>">
      <input type="hidden" name="quality" value="<%=trail.quality%>">

      <input type="hidden" name="liked" value="true">
      <input class="p-3 m-3 rounded" type="submit" value="Add to Favs" />
    </form>

    <% } %>


  </div>



</body>

</html>
