<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <%- include ('./partials/head.ejs') %>

</head>

<body>
  <%- include ('./partials/navbar.ejs') %>
  <div class="container justify-content-center show-page">
    <div class="card m-3">
      <div class="d-flex justify-content-center m-3">
        <img src="<%=trail.image%>" alt="" width="80%">
      </div>
      <div class="m-5">
        <form class="" action="/favorites" method="POST">
          <div class="">
            <h4>Name: <article name="trailName"><%=trail.trailName%></article></h4>
            <h4>Description: <article name="description"><%=trail.description%></article></h4>
            <h4>Miles: <article name="length"><%=trail.length%></article></h4>
            <h4>Difficulty: <article name="difficulty"><%=trail.difficulty%></article></h4>
            <h4>Quality: <article name="quality"><%=trail.quality%></article></h4>
          </div>
          <div class="container">
            <a class="text-decoration-none" href="/">
              <button class="p-3 m-3 rounded" type="submit" name="button">Add to Favs <i class="fa-solid fa-heart"></i></button>
            </a>
        </div>
        </form>
      </div>
    </div>
  </div>



</body>

</html>
